<head>
	<title>{$_CFG.shop_name}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="青山老农，植物素生活，社群电商">
    <meta name="description" content="青山老农，植物素生活，社群电商">
    <link rel="shortcut icon" href="favicon.ico"> 
    <link href="css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min.css?v=4.0.0" rel="stylesheet">
    <link href="js/plugins/gritter/jquery.gritter.css" rel="stylesheet">
    <link href="css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <base target="_self">
    <script src="js/jquery.min.js?v=2.1.4"></script>
    <script src="js/bootstrap.min.js?v=3.3.5"></script>
    <script src="js/content.min.js?v=1.0.0"></script>
    <script src="js/modal.js"></script>
	<script src="js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="js/common_hplus.js"></script>
    <script src="js/plugins/gritter/jquery.gritter.min.js"></script>
    <script src="js/plugins/validate/jquery.validate.min.js"></script>
    <script src="js/plugins/validate/messages_zh.min.js"></script>
    <script src="js/demo/form-validate-demo.min.js"></script>
</head>

<!-- system modal start -->
  <div id="ycf-alert" class="modal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <h5 class="modal-title"><i class="fa fa-exclamation-circle"></i> [Title]</h5>
        </div>
        <div class="modal-body small">
          <p>[Message]</p>
        </div>
        <div class="modal-footer" >
          <button type="button" class="btn btn-primary ok" data-dismiss="modal">[BtnOk]</button>
          <button type="button" class="btn btn-default cancel" data-dismiss="modal">[BtnCancel]</button>
        </div>
      </div>
    </div>
  </div>
<!-- system modal end -->